.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.container .header-container {
  background-color: aqua;
  height: 5rem;
  margin: 0 10% 5rem 10%;
}

.container .content-container {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content-container .section {
  background-color: aqua;
  margin: 0 2rem;
  width: 40%;
}

.container .content-container .input-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 1rem 0 1rem 2rem;
}

.container .content-container .input-container .form-container input {
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0 2rem 0.5rem 0;
  padding: 1rem 2rem;
}

.container .content-container .input-container .form-container input:focus {
  outline: none;
}

.container .content-container .input-container .form-container input:focus::-webkit-input-placeholder {
  color: transparent;
}

.container .content-container .input-container .form-container input:focus:-ms-input-placeholder {
  color: transparent;
}

.container .content-container .input-container .form-container input:focus::-ms-input-placeholder {
  color: transparent;
}

.container .content-container .input-container .form-container input:focus::placeholder {
  color: transparent;
}

.container .content-container .input-container .outer:last-child input:first-child {
  opacity: 0.5;
}

.container .content-container .input-container .inner input:last-child {
  opacity: 0.5;
}

.container .content-container .generate-button {
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
  padding: 1rem;
}

.container .content-container .generated-container .wrap-customer-style .description-container {
  margin-left: 2rem;
  margin-top: 2rem;
}

.container .content-container .generated-container .wrap-customer-style .description-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.container .content-container .generated-container .wrap-customer-style .description-container .title-container h4 {
  color: #282828;
  margin: 0 1rem;
}

.container .content-container .generated-container .wrap-customer-style .description-container .dropdown-controller {
  cursor: pointer;
}

.container .content-container .generated-container .wrap-customer-style .description-container .hidden {
  display: none !important;
}

.container .content-container .generated-container .wrap-customer-style .description-container .animationHidden {
  height: 0;
  opacity: 0;
  -webkit-transition-timing-function: linear, step-end;
          transition-timing-function: linear, step-end;
  visibility: hidden;
}

.container .content-container .generated-container .wrap-customer-style .description-container .content-item {
  color: #686868;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  -webkit-transition: opacity 0.5s linear, height 0.5s step-start;
  transition: opacity 0.5s linear, height 0.5s step-start;
}

.container .content-container .generated-container .wrap-customer-style .description-container .content-item span {
  color: #282828;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */