$font-color: #686868;
$header-color: #282828;

.container {
    display: flex;
    flex-flow: column;

    .header-container {
        background-color: aqua;
        height: 5rem;
        margin: 0 10% 5rem 10%;
    }

    .content-container {
        display: inherit;
        flex-flow: row;
        justify-content: center;

        .section {
            background-color: aqua;
            margin: 0 2rem;
            width: 40%;
        }

        .input-container {
            .form-container {
                display: flex;
                flex-flow: column;
                margin: 1rem 0 1rem 2rem;

                input {
                    border: 0;
                    border-radius: 10px;
                    font-size: 1rem;
                    margin: 0 2rem 0.5rem 0;
                    padding: 1rem 2rem;

                    &:focus {
                        outline: none;

                        &::placeholder {
                            color: transparent;
                        }

                    }
                }
            }

            .outer:last-child input:first-child {
                opacity: 0.5;
            }

            .inner input:last-child {
                opacity: 0.5;
            }
        }

        .generate-button {
            background-color: bisque;
            border-radius: 10px;
            cursor: pointer;
            height: fit-content;
            margin-top: 1rem;
            padding: 1rem;
        }

        .generated-container {
            @import './src/generated';
        }
    }
}