$background-color: #87805E;
$color-1: #B09B71;
$color-2: #D8CCA3;
$color-3: #EDDFB3;
$font-color: #686868;
$header-color: #282828;

// SHADOW STYLE 
// https://getcssscan.com/css-box-shadow-examples
// #8
$shadow-1: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
// #57 by Facebook
$shadow-2: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
// END SHADOW STYLE

body {
    background-color: $background-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
    background-color: $color-3;
    box-shadow: $shadow-1;
    display: flex;
    flex-flow: row;
    height: 4rem;
    margin: 0 20% 10rem 20%;

    .tab {
        align-items: center;
        border: 1px solid $color-1;
        cursor: pointer;
        display: inherit;
        font-size: 1.25rem;
        justify-content: center;
        width: 100%;
        &:hover {
            background-color: $color-2;
        }
    }
}

.container {
    display: flex;
    flex-flow: column;

    .content-container {
        display: inherit;
        flex-flow: row;
        justify-content: center;

        .section {
            background-color: $color-1;
            border-radius: 20px;
            box-shadow: $shadow-1;
            margin: 0 2rem;
            width: 40%;
        }

        .input-container {
            padding: 2rem 0;

            .form-container {
                display: flex;
                flex-flow: column;
                margin: 0.5rem 3rem 1rem 2rem;

                input {
                    border: 0;
                    border-radius: 10px;
                    box-shadow: $shadow-1;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    padding: 1rem 2rem;

                    &:focus {
                        outline: none;

                        &::placeholder {
                            color: transparent;
                        }

                    }
                }
            }

            .outer:last-child input:first-child {
                opacity: 0.5;
            }

            .inner input:last-child {
                opacity: 0.5;
            }
        }

        .generate-button {
            background-color: $color-3;
            border-radius: 10px;
            box-shadow: $shadow-2;
            cursor: pointer;
            height: fit-content;
            margin-top: 1rem;
            padding: 1rem;
        }

        .generated-container {
            @import './src/generated';
        }
    }
}