body {
  background-color: #FEE3EC;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

header .header-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 1rem 1% 10rem 70%;
}

header .header-container .nav-container .tab {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: inherit;
  font-size: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

header .header-container .nav-container .tab:hover {
  opacity: 0.5;
  text-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

footer {
  background-color: #F2789F;
  padding: 0.5rem 0;
  width: 100%;
}

footer .footer-container {
  color: #282828;
  color: white;
  font-size: 0.75rem;
  margin-left: 2rem;
}

.container.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
}

.container.home .title {
  font-size: 1.75rem;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 5.5rem;
  text-align: center;
}

.container.home .content-container {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.home .content-container .section {
  background-color: #F9C5D5;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 0 2rem;
  position: relative;
  width: 40%;
}

.container.home .content-container .section .icon {
  color: #F999B7;
  cursor: pointer;
  font-size: 1.75rem;
  left: 3rem;
  position: absolute;
  top: -2.25rem;
}

.container.home .content-container .section .icon:hover {
  opacity: 0.75;
}

.container.home .content-container .section .icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.container.home .content-container .section .icon .tooltip {
  background-color: #F9C5D5;
  border-radius: 20px;
  bottom: 150%;
  color: #282828;
  font-size: 0.75rem;
  letter-spacing: 2px;
  opacity: 0;
  padding: 10px;
  position: inherit;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  visibility: hidden;
}

.container.home .content-container .section .icon .tooltip::after {
  border-color: #F9C5D5 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: inherit;
  top: 100%;
}

.container.home .content-container .section .icon .clear-all {
  left: -50%;
  margin-left: -100%;
  width: 6rem;
}

.container.home .content-container .section .icon .copy {
  margin-left: -100%;
}

.container.home .content-container .section .icon .new-copy {
  margin-left: -160% !important;
}

.container.home .content-container .input-container {
  padding: 2rem 0;
}

.container.home .content-container .input-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0.5rem 3rem 1rem 2rem;
}

.container.home .content-container .input-container .form-container input {
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
}

.container.home .content-container .input-container .form-container input:focus {
  outline: none;
}

.container.home .content-container .input-container .form-container input:focus::-webkit-input-placeholder {
  color: transparent;
}

.container.home .content-container .input-container .form-container input:focus:-ms-input-placeholder {
  color: transparent;
}

.container.home .content-container .input-container .form-container input:focus::-ms-input-placeholder {
  color: transparent;
}

.container.home .content-container .input-container .form-container input:focus::placeholder {
  color: transparent;
}

.container.home .content-container .input-container .outer:last-child input:first-child {
  opacity: 0.5;
}

.container.home .content-container .input-container .inner input:last-child {
  opacity: 0.5;
}

.container.home .content-container .generate-button {
  background-color: #F2789F;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
  padding: 1rem;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container {
  margin-left: 2rem;
  margin-top: 2rem;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .title-container h4 {
  color: #282828;
  margin: 0 1rem;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .dropdown-controller {
  cursor: pointer;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .hidden {
  display: none !important;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .animationHidden {
  height: 0;
  opacity: 0;
  -webkit-transition-timing-function: linear, step-end;
          transition-timing-function: linear, step-end;
  visibility: hidden;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .content-item {
  color: #282828;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  -webkit-transition: opacity 0.5s linear, height 0.5s step-start;
  transition: opacity 0.5s linear, height 0.5s step-start;
}

.container.home .content-container .generated-container .wrap-customer-style .description-container .content-item span {
  color: #282828;
  margin-right: 0.5rem;
}

.container.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 4rem;
}

.container.help .title {
  font-size: 2.25rem;
  text-align: center;
}

.container.help .sub-title {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.container.help .list-guide-container {
  counter-reset: counter;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: inherit;
          flex-flow: inherit;
  margin: 0 10%;
}

.container.help .list-guide-container .guide-item-container {
  background-color: #F2789F;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 3rem 0;
  padding: 3rem;
  position: relative;
  text-align: center;
}

.container.help .list-guide-container .guide-item-container .number {
  background-color: #F999B7;
  border-radius: 100px;
  font-size: 2.75rem;
  font-weight: 500;
  height: 90px;
  left: -20px;
  line-height: 90px;
  position: absolute;
  top: -20px;
  width: 90px;
}

.container.help .list-guide-container .guide-item-container .number::after {
  content: counter(counter);
  counter-increment: counter;
}

.container.help .list-guide-container .guide-item-container .guide-title {
  font-size: 2rem;
}

.container.help .list-guide-container .guide-item-container .guide-content {
  font-size: 1.5rem;
  font-weight: lighter;
}

.container.help .list-guide-container .guide-item-container .guide-image {
  border-radius: 10px;
}

.container.help .list-guide-container .guide-item-container .guide-image img {
  border-radius: 10px;
  max-width: 100%;
}

.container.help .list-guide-container .guide-item-container .content {
  margin: 1.5rem 0;
}

.container.about {
  font-size: 2rem;
  height: 100vh;
  margin: 0 10%;
}
/*# sourceMappingURL=style.css.map */