$background-color: #FEE3EC;
$color-1: #F9C5D5;
$color-2: #F999B7;
$color-3: #F2789F;
$header-color: #282828;

// SHADOW STYLE 
// https://getcssscan.com/css-box-shadow-examples
// #8
$shadow-1: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
// #57 by Facebook
$shadow-2: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
// END SHADOW STYLE

body {
    background-image: linear-gradient(140deg, white, $background-color);
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}