footer {
    background-color: $color-3;
    padding: 0.5rem 0;
    width: 100%;

    .footer-container {
        color: $header-color;
        color: white;
        font-size: 0.75rem;
        margin-left: 2rem;
    }
}