header {
    .header-container {
        // display: flex;
        // flex-flow: row;

        // .app-name {
        //     font-size: 1.25rem;
        //     letter-spacing: 1px;
        //     margin-left: 2rem;
        //     background-color: aquamarine;
        // }

        .nav-container {
            display: flex;
            flex-flow: row;
            margin: 1rem 1% 10rem 70%;
            
            .tab {
                align-items: center;
                cursor: pointer;
                display: inherit;
                font-size: 1.25rem;
                justify-content: center;
                width: 100%;
                transition: 0.4s linear;
                &:hover {
                    opacity: 0.5;
                    text-shadow: $shadow-1;
                }
            }

            .current {
                
            }
        }
    }
}