<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQUERY 3.6.0 IMPORT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FONTAWESOME IMPORT -->
    <script src="https://kit.fontawesome.com/4c21efa067.js" crossorigin="anonymous"></script>
    <!-- FAVICON IMPORT -->
    <link rel="stylesheet" href="/style.css">
    <title>ABOUT</title>
    <link rel="icon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon-dark.svg">
</head>

<body>
    <header></header>
    <div class="container">

    </div>
    <footer></footer>
    
    <script src="../../src/controller/base-partials.js"></script>
</body>

</html>