<!DOCTYPE html>
<html lang="en">

<head>
    <!-- JQUERY 3.6.0 IMPORT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../src/controller/base-partials.js"></script>
    <title>About</title>
</head>

<body>
    <header></header>
    <div class="container about">
        <div class="content-container">
            <div class="title">
                Purpose
            </div>
            <div class="content-item">
                This tool is made to reverse the dependency of employees and managers on developers. For those who do
                not know HTML to be
                able to change the animated product description.
            </div>
            <div class="content-item">
                Because the support of Haravan (Hosting) takes time. With the having access to the client source code,
                we decide to embed it on our own. This makes you and us flexible to change and update without related to
                the support of Haravan.
            </div>
            <div class="content-item">
                This makes you and us flexible to change and update without related to
                the support of Haravan.
            </div>
            <div class="content-item">
                See <a href="./help.htm">help</a> for more usage details.
            </div>
        </div>
        <div class="content-container">
            <div class="title">
                Contact
            </div>
            <div class="content-item">
                Any defects, bugs, questions and requiments, you can contact me at pham.giahuy.9041@gmail.com or <a
                    href="https://www.messenger.com/t/100005877490365" target="_blank"
                    rel="noopener noreferrer">Messenger</a>.
            </div>
        </div>
        <div class="content-container">
            <div class="title">
                Details
            </div>
            <div class="content-item">
                <a href="https://github.com/phamgiahuy0501/thefrecklestudios-content-generator" target="_blank"
                    rel="noopener noreferrer">Source code</a>
            </div>
        </div>
    </div>
    <footer></footer>

    <script src="../../src/controller/base-partials.js"></script>
</body>

</html>