<!DOCTYPE html>
<html lang="en">

<head>
    <!-- JQUERY 3.6.0 IMPORT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../src/controller/base-partials.js"></script>
    <title>Help</title>
</head>

<body>
    <header></header>
    <div class="container help">
        <div class="title">
            How to use Descripsion[0] Generate?
        </div>
        <div class="title sub-title">
            Step by step guide below will help you from generating HTML element to apply it to Haravan product.
        </div>
        <div class="list-guide-container">
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Content
                </div>
                <div class="guide-content content">
                    Input contents to the Input panel.
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Input panel.jpg" alt="">
                </div>
            </div>
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Generate HTML
                </div>
                <div class="guide-content content">
                    Click Run button in to generate HTML.
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Run generate button.jpg" alt="">
                </div>
            </div>
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Review
                </div>
                <div class="guide-content content">
                    Review how it works, is it exactly what you want.
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Content generated.jpg" alt="">
                </div>
            </div>
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Copy
                </div>
                <div class="guide-content content">
                    Copy all your work and move on to the next step.
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Copy content.jpg" alt="">
                </div>
            </div>
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Source option in Product Haravan
                </div>
                <div class="guide-content content">
                    Go to a specific product page that you want to change or update description. Choose source option in
                    Edit option to open Source edit panel.
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Source option in product.jpg" alt="">
                </div>
            </div>
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Past
                </div>
                <div class="guide-content content">
                    Past all your work has been copied in the Generate page to Source edit panel.
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Source panel 1.jpg" alt="">

                </div>
                <div class="guide-content content">
                    Ctrl+V or Command+V
                </div>
                <div class="guide-image content">
                    <img src="../../src/public/guide/Source panel 2.jpg" alt="">
                </div>
            </div>
            <div class="guide-item-container">
                <div class="number">

                </div>
                <div class="guide-title content">
                    Save and Preview your work
                </div>
                <div class="guide-content content">
                    Save and close Source edit panel. Update changes product and Preview your work.
                </div>
            </div>
        </div>
    </div>
    <footer></footer>

    <script src="../../src/controller/base-partials.js"></script>
</body>

</html>