<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQUERY 3.6.0 IMPORT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FONTAWESOME IMPORT -->
    <script src="https://kit.fontawesome.com/4c21efa067.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONT IMPORT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- FAVICON IMPORT -->
    <link rel="stylesheet" href="../../style.css">
    <title>Home</title>
    <link rel="icon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon-dark.svg">
</head>

<body>
    <header></header>
    <div class="container home">
        <div class="title">
            Descripsion[0] Generate
        </div>
        <div class="content-container">
            <div class="input-container section">
                <i class="icon fa-solid fa-arrow-rotate-right" onclick="clearInputHandle()">
                    <div class="tooltip clear-all">Clear all</div>
                </i>
                <div class="form-container outer">
                    <input type="text" placeholder="Input content...">
                    <div class="form-container inner">
                        <input type="text" placeholder="Input content...">
                    </div>
                </div>
                <div class="form-container outer">
                    <input type="text" placeholder="Input content...">
                    <div class="form-container inner">
                        <input type="text" placeholder="Input content...">
                    </div>
                </div>
            </div>
            <div class="generate-button">
                RUN
            </div>
            <div class="generated-container section">
                <i class="icon fa-solid fa-clipboard" onclick="copyClipboardHandle()" onmouseout="onMouseOutHandle()">
                    <div class="tooltip copy">Copy</div>
                </i>
            </div>
        </div>
    </div>
    <footer></footer>
    <script src="../../src/controller/home-generator.js" type="module"></script>
    <script src="../../src/controller/home.js"></script>
    <script src="../../src/controller/base-partials.js"></script>
</body>

</html>