.container.help {
    display: flex;
    flex-flow: column;
    margin-bottom: 35rem;

    .title {
        font-size: 2.25rem;
        text-align: center;
    }

    .sub-title {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }

    ul.list-guide-container {
        counter-reset: counter;
        display: inherit;
        flex-flow: inherit;
        list-style: none;
        margin: 0 20%;

        li.guide-item-container {
            border-radius: 20px;
            box-shadow: $shadow-2;
            margin: 3rem 0;
            padding: 3rem;
            position: relative;
            text-align: center;
            transition: opacity 0.5s linear, height 0.5s step-start;

            .options-container {
                display: flex;
                flex-flow: row;
                justify-content: center;

                .option {
                    border: 1px solid $color-1;
                    cursor: pointer;
                    margin: 0 0.25rem;
                    padding: 0.5rem 1rem;

                    &:hover {
                        border-color: $color-2;
                    }
                }

                .no-option {
                    border-radius: 10px 0 0 10px;
                }

                .yes-option {
                    border-radius: 0 10px 10px 0;
                }

                .current-option {
                    background-color: $color-1;
                    border-color: $color-2;
                }
            }

            .number,
            .question-mark {
                background-color: $color-1;
                border-radius: 100px;
                font-size: 2.75rem;
                font-weight: 500;
                height: 90px;
                left: -20px;
                line-height: 90px;
                position: absolute;
                top: -20px;
                width: 90px;
            }

            .number::after {
                content: counter(counter);
                counter-increment: counter;
            }

            .guide-title {
                font-size: 2rem;
            }

            .guide-content {
                font-size: 1.5rem;
                font-weight: lighter;
            }

            .guide-image {
                border-radius: 10px;

                img {
                    border-radius: 10px;
                    max-width: 100%;
                }
            }

            .content {
                margin: 1.5rem 0;
            }
        }

        .animation-hidden {
            height: 0;
            margin: 0 !important;
            opacity: 0;
            padding: 0 !important;
            transition-timing-function: linear, step-end;
            visibility: hidden;
        }
    }
}