.wrap-customer-style {
    .description-container {
        margin-left: 2rem;
        margin-top: 2rem;

        .title-container {
            display: flex;
            margin-top: 1.5rem;
            text-transform: uppercase;

            h4 {
                color: $header-color;
                margin: 0 1rem;
            }
        }

        .dropdown-controller {
            cursor: pointer;
        }

        .hidden {
            display: none !important;
        }

        .animationHidden {
            height: 0;
            opacity: 0;
            transition-timing-function: linear, step-end;
            visibility: hidden;
        }

        .content-item {
            color: $font-color;
            font-size: 1rem;
            margin: 0.5rem 1rem;
            transition: opacity 0.5s linear, height 0.5s step-start;

            span {
                color: $header-color;
                margin-right: 0.5rem;
            }
        }
    }
}